* {
  margin: 0;
  padding: 0;
  outline: none;
}

html
{
  background: #14283c;
  text-align: center;
  width: 600px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #ff0048;
}

a:hover {
  color: inherit;
  color: #ffffff;
}

p {
  padding-bottom: 12px;
}

body {
  margin: 72px;
  font-family: 'Roboto Mono', monospace;
  font: 400 14/0.75 'Roboto Mono';
  line-height: 160%;
  color: #3c82c8;
}

h1 {
  font-family: 'Erica One', Helvetica, sans-serif;
  font: 400 48px/0.25 'Erica One';
  color: #ffffff;
  padding-bottom: 48px;
}

h2 {
  font-family: 'Fredoka One', Helvetica, sans-serif;
  font: 400 24px/0.75 'Fredoka One';
  text-transform: uppercase;
  letter-spacing: 8px;
}
